<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">
  
  <variable name="LogDir" value="${basedir}/Logs/"/>
  <variable name="FileBase" value="${LogDir}/${shortdate}"/>

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <target name="file"
            xsi:type="File"
            fileName="${FileBase}/logs.txt"
            layout="${longdate}, CorrelationId=${aspnet-item:variable=CorrelationId} ${message}"
            archiveAboveSize="1048576" maxArchiveFiles="1" archiveFileName="${basedir}/logArchives/info{#######}.a"
    />

    <target name="console"
            xsi:type="Console"
            layout="${longdate}, CorrelationId=${aspnet-item:variable=CorrelationId}: ${message}"
    />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Warn" writeTo="console" />
  </rules>
</nlog>